body {
    background-image: url('skulls.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

body{
    margin-left: 50px;
    margin-right: 50px;
}

nav{
    margin-top: 0;
    list-style: none;
}

nav ul{
    padding: 10px;
    text-align: center;
    list-style: none;
    background-color: darkorchid;
    background-size: contain;
    background-position: top;
    background-blend-mode: saturation;
}

nav li{
    display: inline-table;
    padding-left: 10px;
    padding-right: 10px;
}

nav li a{
    color: orange;
    text-decoration:underline;
}

header{
    padding-top: 0px;
    background-color: darkgray;
    color: aqua;
    background-blend-mode: color;
    text-align: center;
    background-size: contain;
}
header img{
    width: auto;
    height: auto;
}

main {
    color: white;
    text-align: center;
    background-color: coral;
    
}

footer {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    background-blend-mode: overlay;
    color: aqua;
}