* {
    background-image: url('skulls.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}
* {
  margin:0;
  padding:0;
}
.intro {
  padding:35px;
}
.text {
    background-color:white;
}
span.text {
  padding:10px;
  margin-bottom:10px;
  margin-top:10px;
  display:inline-block;
}
#bg {
  background-repeat:repeat;
}

#bgs {
  padding: 25px;
    max-width:600px;
  margin:0 auto;
}

#bgs > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#bgs > div img {
  width: 75px;
  height: 75px;
}

#bg {
  background-size: auto;
}

#bgNum {
  font-weight: bold;
  color: var(--accent-3);
}

header{
    background-color: darkgray;
    color: aqua;
    background-blend-mode: overlay;
    text-align: center;
    background-size: contain
}
header img{
    width: auto;
    height: auto;
}

footer p{
    text-align: center;
    background-color: darkgray;
    background-blend-mode: saturation;
    color: aqua;
}