header{
    padding-left: 15px;
    padding-right: 15px;
    background-color: teal;
    width:100%;
    text-align: center;
    display: inline-table;
    margin: 0;
}

header svg{
    width: 3%;
    height: 3%;
}

nav{
    padding: 15px;
    background-color: wheat;  
    list-style: none;
    text-align: right;
    text-decoration: none  ;
    
}


nav li{
    padding: 10px;
    float: right;
    text-decoration: none;
}

body{
    background-color: transparent;
    background-image: url("stars 2.gif");
    background-repeat: repeat;
    margin: 0%;
    padding: 0%;
}

main{
    background-color: transparent;
    background-image: url("stars 2.gif");
    background-repeat: repeat;
    color: white;
    text-align: center;
}

main .ul{
    list-style: none;
    text-align: center;
}

main .ul li{
    display: inline-table;
    padding: 10px;
}

