*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    position: static;
    padding-left: 15px;
    padding-right: 15px;
    background-color: teal;
    width:100%;
    text-align: left;
    margin: 0;
    overflow-x: hidden;
}

svg{
    max-width: 10%;
    display: block;
}

nav{
    padding: 15px;
    background-color: wheat;  
    list-style: none;
}

nav ul{
    list-style: none;
    text-decoration: none;
}


nav li{
    padding: 10px;
    float: left;
}

body{
    background-color: transparent;
    background-image: url("stars 2.gif");
    background-repeat: repeat;
}

main{
    background-repeat: repeat;
    color: black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
}

main .bodyhead{
    text-align: center;
    background-color: transparent;
    color:white;
    padding: 5%;
}
main .body{
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
}

main li{
    display: inline-table;
    list-style: none;
    padding: 10px;
}

